{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript",
    [
      "env",
      {
        // leave imports as they are
        "modules": false,
        "targets": {
          "browsers": [
            // choose browsers you want to support
            "last 2 chrome versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "babel-plugin-syntax-dynamic-import"
  ]
}
