<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">

    <meta property="og:url" content="https://demo.visidata.org">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:image" content="/favicon.ico">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>">

    <meta itemprop="name" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta itemprop="description" content="">
    <meta itemprop="image" content="/assets/favicon.ico"/>

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <noscript>
      <a href="https://enable-javascript.com/">Please enable Javascript</a>
    </noscript>
  </body>
</html>
