<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">

    <meta property="og:url" content="https://demo.visidata.org">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:image" content="<%= webpackConfig.output.publicPath %>favicon.ico">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>">

    <meta itemprop="name" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta itemprop="description" content="">
    <meta itemprop="image" content="<%= webpackConfig.output.publicPath %>favicon.ico"/>

    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico" type="image/x-icon" />
    <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
    </style>
  </head>
  <body>
   <div>
    <noscript>
      <a href="https://enable-javascript.com/">Please enable Javascript</a>
    </noscript>
    <footer>
    <hr/>
        <p>&copy;  2020 <a href="/contact">saul.pw</a></p>
    </footer>
   </div>
  </body>
</html>
