[submodule "deps/pyxlsb"]
	path = deps/pyxlsb
	url = https://github.com/saulpw/pyxlsb.git

[submodule "deps/requests-cache"]
	path = deps/requests-cache
	url = https://github.com/saulpw/requests-cache.git
