# included in visidata
python-dateutil     # date type

# not included in visidata public package
requests            # http
openpyxl            # xlsx
xlrd                # xls
lxml                # html
h5py                # hdf5
psycopg2            # postgres
pyshp               # shapefiles
mapbox-vector-tile  # mbtiles
google-cloud-bigquery  # bigquery
pypng               # png
