[Desktop Entry]
Type=Application
Terminal=true
Name=VisiData
Icon=visidata
Exec=vd %F
Categories=Utility;TextTools;
Comment=Terminal interface for exploring and arranging tabular data
Keywords=terminal;spreadsheet;tabular;data;csv;
