/* CSS for keyboard layout only.  */

.layout {
    display: none;
}
.layout.shown {
    display: block;
}
.layout a {
    text-decoration: none;
}

#keyboard-outer div#keyboard div.depressed {
    background-color: purple;
    color: white;
}

#keyboard-outer {
    width: 880px;
    margin: auto;
}

div#keyboard div.na
{
    background-color: #eeeeee;
    color: #cccccc;
}
.key.na .action {
    color: #eeeeee;
}

.key .action {
    color: purple;
    font-size: 13px;
}

.key.tri .action {
    font-size: 12px;
}

.key {
    font-weight: bold;
}

div#keyboard {
    padding: 15px 12px 8px 15px;
    margin: 5px auto 5px auto;
    background-color: #cccccc;
    border-radius: 6px;
}

/* --- Rows and Cols ----------------------------------- */
div#keyboard div.row {
    clear: both;
}
div#keyboard div.row:after {
    display: block;
    content: '';
    clear: both;
}

/* --- Content ----------------------------------------- */
div#keyboard .key,
div#keyboard div.spacer-key {
    float: left;
    height: 52px;
    width: 52px;
    margin: 0 5px 7px 0;
    border-radius: 6px;
    background-color: white;
    text-align: center;
}

div#keyboard div.mac-fkeys .key {
    width: 55px;
    height: 30px;
}

div#keyboard .key.high {
    height: 111px;
}
div#keyboard .key.wide {
    width: 107px;
}

div#keyboard .key div {
    padding-top: 2px;
}

div#keyboard .key:hover {
    background-color: #dddddd;
}

.key div {
    padding: 0;
    margin: 0;
}

div#keyboard div.spacer-key {
    display: block;
/*    background-color: #e5ff69; */
}

div#keyboard div.spacer-small {
    display: block; 
    width: 25px;
    height: 16px;
/*    background-color: #e5ff69; */
}
