h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.vd {
    width: 100%;
    border-spacing: 4px 7px;
}

.vd tr {
    background-color: #dddddd;
}

.vd td {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.screenshot {
    width: 50%;
}

.input, .command, .code {
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}

.screenshot img {
    width: 100%;
}

.vd tr:nth-child(even) {background: #CCC}
.vd tr:nth-child(odd) {background: #FFF}

.vd td {
    padding: 5px;
}

